# user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# build results
SprinklerActivation/Debug/
SprinklerActivation/[Rr]elease/
SprinklerActivation/[Bb]in/
SprinklerActivation/[Oo]bj/

# Visual Studio cache/options
.vs/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet packages
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets